<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>

	<variable name="OwnWebLayout"
			  value="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>

	<targets async="true">
		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<!-- <target xsi:type="Seq" serverUrl="http://192.168.107.194:8900" apiKey="XHTJglv4RxoqbgprF0pO" > -->
			<target xsi:type="Seq" serverUrl="http://192.168.159.132:8900" apiKey="" >
				<property name="MachineName" value="${machinename}" />
				<property name="LogType" value="${event-properties:item=LogType}" />
			</target>/>
		</target>
	</targets>

	<rules>
		<!--跳过微软的日志只显示我们自己的日志-->
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="*" levels="Debug,Warn,Information,Trace,Error,Fatal" writeTo="seq" />
	</rules>
</nlog>
